@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

:root {
  --cl-white: rgb(255, 255, 255);
  --cl-light-gray: rgb(183, 183, 183);
  --cl-gray: rgb(45, 45, 45);
  --cl-black: #282828;
  --cl-dark: #333334;
  --cl-purple: rgb(202, 117, 188);
  --cl-green: rgb(15, 160, 75);
  --cl-orange: rgb(210, 131, 104);
  --cl-red: rgb(247, 49, 0);
  --cl-light-green: rgb(165, 201, 154);
  --cl-light-blue: rgb(128, 216, 255);
  --cl-light-yellow: rgb(214, 216, 154);
  --cl-yellow: rgb(223, 228, 0);
  --cl-primary: rgb(0, 110, 204);

  --border-radius: 8px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

a,
button {
  cursor: pointer;
}

.App {
  position: relative;
  height: 100vh;
  background: var(--cl-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 90%;
  min-width: 370px;
  max-width: 550px;
  height: 600px;
  background: var(--cl-black);
  // limited browser support. will be ignored.
  backdrop-filter: blur(5px);
  padding: 2em;
  border-radius: var(--border-radius);
}

.app-header {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  h1 {
    color: var(--cl-purple);
    font-weight: 400;
  }
}

#timer-label {
  text-align: center;
  color: var(--cl-yellow);
}

.timer-length {
  display: flex;
  justify-content: center;
}
